.color-car {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}
.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}


.color-card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 50px;
  padding: 1rem;
  margin: 2rem
  
}

.color-card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2rem;
  background-color: lightgray;
   border-bottom-left-radius: 50px;
   border-top-left-radius: 50px;
   align-items: center;
 
}
.color-card__hex {
  font-weight: bold;
  color: #333;
}
.color-card__hex__flex {
  font-weight: bold;
  color: #333;
  display: flex;
}

.colorcard__value {
  color: #888;
}

.color-card__display {
  background-color: var(--displayed);
  border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }